<% include partials/header-upper %>
<title>About</title>
<% include partials/header-lower %>
<% include partials/navbar %>
<div class="about_container">
<h1 class="cursive about_title">About</h1>
<a href="/browse" class="buy_anchor btn_large">
  <div class="anchor_div">
    CONTRIBUTE
  </div>
</a>
<!-- <input type="submit" name="buyer_btn" value="CONTRIBUTE" class="btn_large"> -->


<section class="jumbotron about_p">
  <h1 class="display-4 cursive">What is Impower?</h1>
  <hr class="my-4">
  <p class="lead">Impower is an organisation that aims to empower women in low
    income areas by providing sanitary pads and contraceptive pills. We believe
    these two things are necessities, rather than commodities, to all the women
    around the world.</p>
</section>

<section class="jumbotron about_p">
  <h1 class="display-4 cursive">Why are sanitary pads and contraceptive pills empowering to women?</h1>
  <hr class="my-4">
  <p class="lead">
Because of economic or cultural reasons, some women are unable to have no or easy access to
these products and this causes huge inconvenience and even health problems to them.
We want them to know that they are not helpless and we are all in this together.
It’s not just about sending out these products for free, it’s also about giving support
and raise awareness in disadvantaged communities and educate them using these products
is something that is completely normal, instead of feeling ashamed of it. Periods
and pregnancy should not be the stopping factor for any girl/woman from achieving their
goals. Please join us to make an IMPACT and EMPOWER other people by providing a better
future for these girls/women!</p>
</section>


<section class="jumbotron about_p">
  <h1 class="display-4 cursive">How does it work?</h1>
  <hr class="my-4">
  <p class="lead">
When you buy an product from Impower, it will be sent to a pre-selected country to help
a woman in need there. You can also check the “donation map” after you login to your account
to see where did you donations go!</p>
</section>


<section class="jumbotron about_p">
  <h1 class="display-4 cursive">More Question?</h1>
  <hr class="my-4">
  <p class="lead">Please feel free to email contact@impower.org if you have any question or inquiry.
We will get back to you as soon as possible.</p>
</section>

</div>
<% include partials/footer-upper %>
<% include partials/footer-lower %>
