



<% include partials/header %>
<% include partials/navbar %>

<h1>My Account</h1>

<div>
<h2>Donation Map</h2>

<div id='myChart'><a class="zc-ref" href="https://www.zingchart.com/">Charts by ZingChart</a></div>
<script>
  zingchart.loadModules('maps,maps-ind,maps-world-countries');
  zingchart.render({
    "id": 'myChart',
    "width": '100%',
    "height": '100%',
    "data": {
      "shapes": [ {
        "type": "zingchart.maps",
        "options": {
          "name": 'world.countries',
          "zooming": true, // turn of zooming. Doesn't work with bounding box
          "panning": true, // turn of zooming. Doesn't work with bounding box
          "style": {
            "controls": {
              "visible": true // turn of zooming. Doesn't work with bounding box
            },
            "border-width": 2,
            "border-color": '#000',
            "label": { // text displaying. Like valueBox
              "visible": false,
              "font-size": 10
            },
            "hover-state": {
              "alpha": ".28"
            },
            "tooltip": {
              "font-size": 18,
              "border-width": 2,
              "border-color": "#000"
            },
            "items": {
              "BRA": {
                "label": {
                  "visible": true
                },
                "tooltip": {
                  "text": "Brazil received 1 products from you",
                  "background-color": "#00AE4D"
                },
                "background-color": "#00AE4D"
              },
              "IND": {
                "label": {
                  "visible": true
                },
                "tooltip": {
                  "text": "India received 1 products from you",
                  "background-color": "#ff9800",
                },
                "background-color": "#ff9800",
              }
            }
          }
        }
      }]
    }
  });
</script>

</div>

<% include partials/footer-upper %>
<% include partials/footer-lower %>
